<!-- contactMePageForm.ejs, Tomislav Lazovic, 301229459, 10/02/2022 -->
<form>
  <!-- 
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  -->
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">First name</span>
        <input
          type="text"
          class="form-control"
          placeholder="First name"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Last name</span>
        <input
          type="text"
          class="form-control"
          placeholder="Last name"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Contact Number</span>
        <input
          type="text"
          class="form-control"
          placeholder="Contact Number"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email Address</span>
        <input
          type="text"
          class="form-control"
          placeholder="Email Address"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="input-group">
      <span class="input-group-text">Message</span>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
  </div>
  <br />
  <div>
    <a href="views/home.ejs" class="btn btn-primary">Submit</a>
  </div>
</form>
