<!-- contactInformationElementGroup.ejs, Tomislav Lazovic, 301229459, 10/02/2022 -->
<div class="container text-center">
  <div class="row">
    <div class="col">
      <a
        class="btn btn-primary"
        data-bs-toggle="collapse"
        href="#multiCollapseExample1"
        role="button"
        aria-expanded="false"
        aria-controls="multiCollapseExample1"
        >Toggle email</a
      >
    </div>
    <div class="col">
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#multiCollapseExample2"
        aria-expanded="false"
        aria-controls="multiCollapseExample2"
      >
        Toggle phone number
      </button>
    </div>
    <div class="col">
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target=".multi-collapse"
        aria-expanded="false"
        aria-controls="multiCollapseExample1 multiCollapseExample2"
      >
        Toggle both email and phone number
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">tlazovic@tissaro.com</div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">+1-647-992-8654</div>
    </div>
  </div>
</div>
