<!-- generalInformationAboutMeCard.ejs, Tomislav Lazovic, 301229459, 10/02/2022 -->
<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="images/headshot.jpg"
        class="img-fluid rounded-start"
        alt="headshot"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title disabled">Tomislav Lazovic</h3>
        <h5 class="card-title; text-muted">General Information</h5>
        <p class="card-text">
          I grew up in the west suburbs of Toronto. I grew up playing waterpolo.
          I've always been a very logical person. Which has manifested itself in
          my passion for studying fields of logic; philosophy, world-religions,
          logic theory, and finally: software engineering.
        </p>
        <!-- <p class="card-text"> 
            <small class="text-muted">Last updated 3 mins ago</small>
          </p> -->
      </div>
    </div>
  </div>
</div>
