<!-- professionalInformationAboutMeCard.ejs, Tomislav Lazovic, 301229459, 10/02/2022 -->
<div class="card" style="width: 33.75rem">
  <div class="card-body">
    <h5 class="card-title">Professional Information</h5>
    <p class="card-text">
      I studied computer engineering at Ryerson University, then transfered over
      to Centennial College For software engineering, as I was interested purely
      in software development. I worked for computer engineering firm for 2
      years.
    </p>
    <a
      href="/pdfs/resumeTomislavLazovic2022.pdf"
      class="btn btn-primary"
      target="_blank"
      >View and/or Download Resume</a
    >
  </div>
</div>
