<!-- servicesCard.ejs, Tomislav Lazovic, 301229459, 10/02/2022 -->
<div class="card-group">
  <div class="card">
    <img
      src="/images/services/general-programming.png"
      class="card-img-top"
      alt="'web development' icon artist reference: web development by I Putu Kharismayadi from Noun Project "
    />
    <div class="card-body">
      <h5 class="card-title">General Programming</h5>
      <p class="card-text">
        As we all do in school, I began my programming journey learning the
        basic programming concepts and paradigms. Now although I've studied
        other sectors of programming I still offer this as a core service.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      src="/images/services/web-development.png"
      class="card-img-top"
      alt="'web development' icon artist reference: by icelloid from Noun Project"
    />
    <div class="card-body">
      <h5 class="card-title">Web Development</h5>
      <p class="card-text">
        I'm an experienced full-stack engineer. I'm proficient in MEAN and
        bootstrap.js.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      src="/images/services/commercial-hardware-assembly-and-initializations.png"
      class="card-img-top"
      alt="'Raspberry Pi' icon artist reference: Raspberry Pi by Logodemia from Noun Project"
    />
    <div class="card-body">
      <h5 class="card-title">
        Commercial hardware assembly and initializations
      </h5>
      <p class="card-text">
        During my time at Senorta, I worked with digital signage players. This
        included both a hardware portion aswell as a software portion. with
        respect to hardware, I ordered and evaluated hardware for said players.
        For the software side, I did unit testing using JUnit for the pure Java
        player and Jest for Node.js.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">For futher information:</small>
      <a
        href="/pdfs/resumeTomislavLazovic2022.pdf"
        class="btn btn-primary"
        target="_blank"
        >View and/or Download Resume</a
      >
    </div>
  </div>
</div>
