<!-- welcomeCard.ejs, Tomislav Lazovic, 301229459, 10/02/2022 -->
<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="images/welcomeCardImage.jpg"
        class="img-fluid rounded-start"
        alt="welcomeCardImage"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Welcome</h5>
        <p class="card-text">
          I am a software developer geared toward working with people that want
          to acheieve something. I appreciate hard work, however I value people
          who have talent but still have the presence of mind to continue to
          work hard that much more.
        </p>
        <!-- <p class="card-text"> 
          <small class="text-muted">Last updated 3 mins ago</small>
        </p> -->
        <a href="/aboutMe" class="btn btn-primary" tabindex="-1" role="button"
          >About Me</a
        >
        <!-- <a style="text-align: right" class="nav-link" href="/aboutMe"
          >About me</a
        > -->
      </div>
    </div>
  </div>
</div>
